
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	  
	  /* Standard inputs have the following values for their labels: */
.form-control-label {
    padding: 0.4375rem 0.75rem;
    margin-bottom: 0px;
}

/* Checkbox / Radio inputs have the following values: */
.col-* {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

label {
    margin-bottom: 0.5rem;
}
 