<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Data download</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container theme-showcase" role="main">
      <h1>Email: {{ email }}</h1>
      <h1>Name: {{ Name }}</h1>
      <h1>Station: {{ station }}</h1>
      <h1>Start Date User: {{ startDateUser }}</h1>
      <h1>Start Date DB: {{ startDateDb }}</h1>
      <h1>End Date User: {{ endDateUser }}</h1>
      <h1>End Date DB: {{ endDateDb }}</h1>
      <h1>File Type: {{ FileType }}</h1>

    </div> <!-- /container -->

  </body>
</html>